@media screen and(min-height: 856px){
    .advantages{
        top: unset;
        bottom: 0;
    }
}
 /// Адаптив 
@media screen and (min-width: 1440px){
    .slick-dots{
        left: 450px;
    }
    .slider-arrows{
        left: 596px;
    }
    .slider-arrows__left{
        left: 384px;
    }
    .slider__item-info{
        height: 793px;
    }
}
@media screen and(max-width: 1280px){
    .header__wrapper{
        padding: 0px 20px;
    }
    .slick-slide img{
        max-width: unset !important;
        max-height: -webkit-fill-available;
    }
    .advantages__inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .inner-item{
        max-width: unset;
        padding: 0px 50px 20px 50px;
    }
}
@media screen and(max-width: 870px){
    .header__contact .phone{
        font-size: 22px;
    }
    .slider__item-info h1{
        font-size: 56px;
        left: 90px;
    }
    .slider__item-info .skrew-white{
        left: 75px;
        height: 70px;
        width: 367px;
        &__small{
            top: 84px;
            left: 57px;
            height: 38px;
            width: 190px;
        }
    }
    .slider-item__info-dest{
        padding: unset;
        border-bottom: none;
        font-size: 22px;
        left: 70px;
        top: 159px;
    }
    .slider-item__info-size{
        top: 202px;
        left: 57px;
    }
    .skrew-green{
        left: 42px;
        top: 97px;
    }
    .kitchen, .bedroom, .living-room{
        .slider-item__info-size{
            top: 202px;
            left: 57px;
        }
        .skrew-green{
            left: 42px;
            top: 97px;
        }
    }
    .slider-item__info-ideas, .slider-item__info-button{
        left: 40px;
        font-size: 15px;
    }
    .slider-arrows{
        left: 295px;
        &__left{
            left: 93px;
        }
    }
    .slick-dots{
        left: 153px;
    }
}
@media screen and(max-width: 768px){
    .header__logo span{
        display: none;
    }
    .inner-item{
        padding: 0px 20px 20px 20px;
    }
}
@media screen and(max-width: 596px){
    .skrew-black{
        top: 0;
    }
    .slider-arrows{
        top: 410px;
    }
    .slick-dots{
        top: 425px;
    }
    .advantages{
        top: 541px;
    }
    .advantages__inner{
        grid-template-columns: 1fr;
    }
    .header__contact .button{
        display: none;
    }
    .menu{
        display: none;
    }
    .slider__item-info h1{
        font-size: 36px;
        left: 74px;
        top: 75px;
    }
    .slider__item-info .skrew-white{
        left: 61px;
        top: 73px;
        height: 47px;
        width: 245px;
        &__small{
            top: 89px;
            left: 42px;
            height: 38px;
            width: 190px;
        }
    }
    .slider-item__info-dest{
        padding: unset;
        border-bottom: none;
        font-size: 22px;
        left: 51px;
        top: 142px;
    }
    .slider-item__info-size{
        top: 185px;
        left: 35px;
    }
    .skrew-green{
        left: 26px;
        top: 102px;
    }
    .kitchen, .bedroom, .living-room{
        .slider-item__info-size{
            top: 185px;
            left: 35px;
        }
        .skrew-green{
            left: 26px;
            top: 102px;
        }
    }
    .slider-item__info-ideas, .slider-item__info-button{
        left: 22px;
    }
    .slider-item__info-ideas{
        top: 252px;
    }
    // .slider-item__info-button{
    //     top: ;
    // }
    .slider-arrows{
        left: 201px;
        &__left{
            left: 27px;
        }
    }
    .slick-dots{
        left: 73px;
    }
    .slider__item-info h1::before{
        content: "";
    }
}

/// Burger, mobile menu
@media screen and (max-width: 596px){
    .menu ul{
        justify-content: center;
    }
    .menu a, .menu__button{
        display: none;
    }
    /* Styles for menu small screen */
    .menu__sm{
        display: block;
    }
    .menu__sm {
        position: fixed;
        top: 40px;
        left: 0;
        z-index: 12;
    }
  
    .menu__sm .toggler {
        position: absolute;
        top: 24px;
        left: 9px;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    .menu__sm .toggler:hover{
        cursor: pointer;
    }
    .menu__sm .hamburger {
        position: absolute;
        top: 17px;
        left: 0;
        z-index: 1;
        width: 35px;
        height: 35px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.6);
    }
  
    /* Hamburger Line */
    .menu__sm .hamburger > div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    /* Hamburger Lines - Top & Bottom */
    .menu__sm .hamburger > div::before,
    .menu__sm .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    
    /* Moves Line Down */
    .menu__sm .hamburger > div::after {
        top: 10px;
    }
    
    /* Toggler Animation */
    .menu__sm .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
    
    /* Turns Lines Into X */
    .menu__sm .toggler:checked + .hamburger > div:before,
    .menu__sm .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    }
    
    /* Rotate On Hover When Checked */
    .menu__sm .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    
    /* Show Menu */
    .menu__sm .toggler:checked ~ .hamburger__menu {
        visibility: visible;
    }
    
    .menu__sm .toggler:checked ~ .hamburger__menu > div {
        transform: scale(1);
    }
    
    .menu__sm .toggler:checked ~ .hamburger__menu > div > div {
        opacity: 1;
        transition:  opacity 0.4s ease 0.4s;
    }
    
    .menu__sm .hamburger__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .menu__sm .hamburger__menu > div {
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }
    
    .menu__sm .hamburger__menu > div > div {
        background: #ffffff;
        text-align: center;
        width: 100vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }
    
    .menu__sm .hamburger__menu > div > div > ul > li {
        list-style: none;
        color: #000;
        font-family: ProximaNova Regular;
        font-size: 1.5rem;
        padding: 1rem;
    }
    
    .menu__sm .hamburger__menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}